{% extends 'base.html' %}
{% load static %}

{% block title %}
Pakistan Marbles
{% endblock %}

{% block content %}
<section class="cover cover-features imagebg space--lg" data-scrim-top="8">
    <div class="background-image-holder">
        <img alt="background" src="{% static 'img/cover-4.jpg' %}"/>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7">
                <h1 class="uppercase">
                    Elegant & Lasting Surface
                </h1>
                <p class="lead">
                    Design your dream entertainment area, kitchen, bathroom
                </p>
                <!--<a class="btn btn-primary type-uppercase" href="#">
                   <span class="btn__text">
                       View Our Portfolio
                   </span>
                </a>-->
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-4">
                <div class="feature feature-2 boxed boxed--border bg--white">
                  <i class="icon icon-Rocket color--primary"></i>
                  <div class="feature__body">
                    <p>
                      We are focused on creating new solutions, not copying the existing ones.
                    </p>
                  </div>
                </div>
                <!--end feature-->
            </div>
            <div class="col-sm-4">
                <div class="feature feature-2 boxed boxed--border bg--white">
                  <i class="icon icon-Flash-2 color--primary"></i>
                  <div class="feature__body">
                    <p>
                      Working with us you will work with professional technicians & workers having the vast good experience.
                    </p>
                  </div>
                </div>
                <!--end feature-->
            </div>
            <div class="col-sm-4">
                <div class="feature feature-2 boxed boxed--border bg--white">
                    <i class="icon icon-Smile color--primary"></i>
                    <div class="feature__body">
                      <p>
                        Creating a quality product it is not an end in itself, but a means. It’s about to make you happy.
                      </p>
                    </div>
                </div>
                <!--end feature-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="switchable bg--secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7">
                <h2>End-to-end planning</h2>
                <p class="lead">
                    We have a well equipped manufacturing unit and it consists of all kinds of machinery such as edge cutting machines for tiles, articulated arm polishing machine for slabs, and many more. We have a dedicated and efficient technicians and workers. We are capable enough to supply products in bulks
                </p>

            </div>
            <div class="col-sm-4 col-md-3">
                <!--<div class="text-block">
                    <h5>Global</h5>
                    <p>
                        enquiries@stackconstruction.net
                    </p>
                </div>
                <div class="text-block">
                    <h5>Melbourne</h5>
                    <p>
                        Rialto Building
                        <br/> 200 Bourke Street
                        <br/> Melbourne, Victoria
                    </p>
                </div>
                <div class="text-block">
                    <h5>Sydney</h5>
                    <p>
                        Suite 102
                        <br/> 364 Malvern Road
                        <br/> Armadale, Victoria
                    </p>
                </div>-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="switchable feature-large bg--white space--sm">
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
              <img alt="Image" class="border--round box-shadow-wide" height="500px" src="{% static 'img/slider-2-1.jpg' %}" />
          </div>
          <div class="col-sm-6 col-md-5">
              <div class="">
                  <h2>Quality</h2>
                  <p class="lead">
                    To achieve the objectives of quality policy, company plans to implement & achieve total quality management. Quality checks are taken care by company under the guidance and expertise of quality management Team.</br></br>
                    It is our continuous effort to win the trust and confidence of the customers by providing them with premium quality products at affordable prices. It is our continuous efforts to go beyond norms and limits set by standards and create our own standards to achieve excellence.
                  </p>
              </div>
          </div>
      </div>
      <!--end of row-->
   </div>
   <!--end of container-->
</section>
<section class="switchable switchable--switch feature-large bg--white space--sm">
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
              <img alt="Image" class="border--round box-shadow-wide" height="500px" src="{% static 'img/degio4.jpg' %}" />
          </div>
          <div class="col-sm-6 col-md-5">
              <div class="">
                  <h2>History of Natural Stone</h2>
                  <p class="lead">
                    Marble, granite, travertine, slate, limestone and onyx are natural stones that are excavated from the earth in large blocks. Afterwards, these blocks are cut into large slabs or tiles. Natural stones are available in a wonderful variety of colors and patterns.
                  </br></br>The beauty of natural stone is its timeless elegance that has been used throughout history. From the 8th century B.C. on the Egyptian pyramids, to the 6th century A.D. Vatican in Rome, to the 20th century A.D.
                  Today, architects, engineers and designers are still using natural stones to beautify their surroundings, not only for its luxurious appearance but also for the many advantages that natural stone possesses.
                  </p>
              </div>
          </div>
      </div>
      <!--end of row-->
   </div>
   <!--end of container-->
</section>
{% endblock %}
